// font css linked in template.html for speed

%text-normal {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

%text-bold {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

$font-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

$bg-color-dark: #221d33;
$bg-color-light: #b5bccc;
$font-color: #1d1d1d;
$font-color-link: #0044d6c9;
$font-color-visited: #1942c9;
$font-color-strong: #e42756;
$font-color-media: #f8f8f2;

// scaling, method credit https://css-tricks.com/optimizing-large-scale-displays/
$base-font-size: 1.1em;
$base-line-height: 1.65;
$header-line-height: 1.25;

// breakpoints
// rather than put the breakpoints on common resolutions, why not put them in between?
// This way, widths slightly below the common one won't look tiny.
$bp-mini: 28em; // 448px
$bp-small: 40em; // 640px
$bp-medium: 60em; // 960px
$bp-large: 82em; // 1312px
$bp-xlarge: 100em; // 1600px
$bp-xxlarge: 150em; // 2400px
$bp-xxxlarge: 200em; // 3200px

// media queries
$mq-mini: "(min-width: #{$bp-mini})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-xxxlarge: "(min-width: #{$bp-xxxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";

html {
    height: 100%;
}

body {
    @extend %text-normal;

    min-height: 100%; 
    margin: 0px;
    width: 100%;

    background-color: $bg-color-light;
    color: $font-color;
    
    font-size: $base-font-size*.9;
    line-height: $base-line-height*.9;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";

    @media #{$mq-small} {
        //padding-top: 1em;
        font-size: $base-font-size;
        line-height: $base-line-height;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "header main right"
            "header footer right";
    }

    @media #{$mq-medium} {
        font-size: $base-font-size*1.05;
        line-height: $base-line-height*1.05;
        grid-template-columns: 10em 80% 1fr;
    }
  
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.1;
        grid-template-columns: 15em 60% 1fr;
    }
  
    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.2;
        grid-template-columns: 20em 45% 1fr;
    }

    @media #{$mq-xxxlarge} {
        font-size: $base-font-size*1.4;
        grid-template-columns: 30em 35% 1fr;
    }
}

main {
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: .5em;
    align-content: start;
}

.right {
    grid-area: right;
    display: none;
    padding-top: 1em;

    @media #{$mq-medium} {
        display: block;
    }
}

article {
    grid-column: span 2;
    background-color: $bg-color-light;
    height: 100%;
    overflow: hidden;
    
    border-width: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: $font-color-link;
    border-style: solid;
}

.inner-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.snippet {
    padding: 1em 1.5em .1em 1.5em;

    display: grid;
    grid-template-columns: 1fr minmax(0, auto);

    > img {
        grid-column-start: 2;
        width: 160px;
        height: 128px;
    }

    > div {
        grid-column-start: 1;

        > p {
            padding: 0em .25em 0em 1em;
        }
        > h4 {
            padding: 0em .25em 0em .5em;
        }
    }        
}

a {
    color: $font-color-link;
    text-decoration: underline;
  
    &:visited {
        color: $font-color-visited;
    }
    &:hover,
    &:focus {
      color: $font-color-strong;
      text-decoration: none;
      box-shadow: -4px 0px 0px 0px $bg-color-dark,
                  4px 0px 0px 0px $bg-color-dark;
      background: $bg-color-dark;
    }
}

strong {
    color: $font-color-strong;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    @extend %text-bold;
    padding: 1em 24px .1em 24px;
    margin: 0em;
    line-height: 1.3em;
}

hr {
    margin: 0em 1.5em 0em 1.5em;
    color: adjust-color($bg-color-dark, $alpha: -.5);
}

p, ul {
    margin: 0;
    padding: 0.5em 3em 0.5em 3em;

    @media #{$mq-medium} {
        padding: 0.5em 4em 0.5em 4em;
    }

    @media #{$mq-xlarge} {
        padding: 0.5em 5em 0.5em 5em;
    }
}

.hero-image {
    background-color: $bg-color-dark;
    line-height: 0em;
    padding: 0em;
    width: auto;
    transform: scale(.5);
    @media #{$mq-medium} {
        transform: scale(1);
    }

    > img {
        image-rendering: pixelated;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.media {
    margin: .5em 0em .5em 0em;
    color: $font-color-media;
    background-color: $bg-color-dark;
    text-align: center;
    line-height: 0em;
    padding: 0em;
}

.media img {
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.media-group {
    margin: .5em 0em .5em 0em;
    padding: 1em 0em 1em 0em;
    color: $font-color-media;
    background-color: $bg-color-dark;
    text-align: center;
    line-height: 1em;
}

.media-group img {
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.media-group img {
    margin: 0.5em;
}

.media-embed {
    position: relative;
    width: 100.2%;
    height: 0;
    padding: 0em 0em 56.25% 0em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.caption {
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
    padding: 0em 4em 1em 4em;
    color: $bg-color-dark;
}

.small {
    font-size: 0.85em;
    padding: 0em 4em 1em 4em;
    margin-top: -.5em;
}

blockquote {
    background-color: $bg-color-dark;
    border-left: .5em solid $font-color-link;
    color: $font-color-media;
    margin: .5em 1em .5em 1em;
    //border-top-right-radius: 4px;
    //border-bottom-right-radius: 4px;
}

#header {
    grid-area: header;
    justify-self: center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 1.25em;

    line-height: 1.3em;
    z-index: 1;
    direction: rtl;

    @media #{$mq-small} {
        padding: 0em;
        text-align: right;
        justify-self: right;
    }
}

.header-item-top {
    padding: 1em 0em 0em 0em;
}

.header-item {
    padding: .2em 0em 0em 0em;
}

.header-button {
    padding: .3em .1em 0em 0em;
}

a.nav-dark {
    color: $bg-color-light;
    text-decoration: none;
  
    &:hover,
    &:focus {
        color: $font-color-strong;
        text-decoration: none;
        box-shadow: -4px 0px 0px 0px $bg-color-dark,
                    3px 0px 0px 0px $bg-color-dark;
        background: $bg-color-dark;
    }
}

a.nav-light {
    color: $font-color-link;
    text-decoration: none;
  
    &:hover,
    &:focus {
        color: $font-color-strong;
        text-decoration: none;
        box-shadow: -4px 0px 0px 0px $bg-color-dark,
                    3px 0px 0px 0px $bg-color-dark;
        background: $bg-color-dark;
    }
}

.bg-dark {
    background-color: $bg-color-dark;
}

.bg-light {
    background-color: $bg-color-light;
}

#footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
    color: $font-color-media;
    background-color: $bg-color-light;
    font-size: 16px;
    @extend %text-normal;
}

.button {
    @extend %text-bold;
    font-size: 1.3em;
    padding: 0em .2em;
}

.center {
    text-align: center;
}

.home-media {
    color: $font-color-media;
    background-color: $bg-color-dark;
    text-align: left;
    line-height: 0em;
    margin-top: .5em;
    overflow: hidden;

    position: relative;

    image-rendering: pixelated;
    background-size: cover;
    background: no-repeat center;

    height: 120px;

    @media #{$mq-small} {
        height: 200px;
    }

    @media #{$mq-large} {
        height: 260px;
    }

    &:hover,
    &:focus {
        //filter: brightness(150%);
        background-color: $bg-color-light; // Tint color
        background-blend-mode: hard-light;
    }
}

.home-media h2 {
    padding: 2px 32px 2px 32px;
    border: solid 2px $bg-color-light;
}

.home-media:hover h2 {
    border: solid 2px $font-color-strong;
}

.half > .home-media {
    max-height: 120px;
}

.home-media img {
    position: absolute;
    background-size: cover;
}

.home-title {
    padding: 0em;
    position: absolute;
    top: 1em;
    left: 1.5em;
    background-color: $bg-color-dark;
}

.home-caption {
    padding: 1em;
    position: absolute;
    bottom: 1em;
    right: 1.5em;
    color: $font-color;
    background-color: $bg-color-light;
}

.bgchanger {
    box-sizing: border-box;
    margin-top: 3px;
    margin-left: .5em;
    margin-bottom: .5em;
    outline-style: solid;
    outline-color: $font-color-link;
    outline-width: 3px;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

#bgdark {
    background-color: $bg-color-dark;
    &:hover,
    &:focus {
        outline-color: $font-color-strong;
    }
}

#bglight {
    background-color: $bg-color-light;
    &:hover,
    &:focus {
        outline-color: $font-color-strong;
    }
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=css+clike+javascript+c+csharp+cpp&plugins=toolbar */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code,
 pre {
     color: $font-color-media;
     background: none;
     text-shadow: 0 1px rgba(0, 0, 0, 0.3);
     font-family: $font-code;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre {
     padding: .1em .5em;
     margin: .5em 1em .5em 1em;
     overflow: auto;
     border-radius: 0.3em;     

    @media #{$mq-small} {
        font-size: 0.9em;
    }
  
    @media #{$mq-large} {
        font-size: 0.8em;
        margin: .5em 2em .5em 2em;
    }
 }
 
 :not(pre) > code,
 pre {
     background: $bg-color-dark;
 }
 
 /* Inline code */
 :not(pre) > code {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;

    @media #{$mq-small} {
        font-size: 0.9em;
    }
  
    @media #{$mq-large} {
        font-size: 0.8em;
    }
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: slategray;
 }
 
 .token.punctuation {
     color: #f8f8f2;
 }
 
 .namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #f92672;
 }
 
 .token.boolean,
 .token.number {
     color: #ae81ff;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: #a6e22e;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: #e6db74;
 }
 
 .token.keyword {
     color: #66d9ef;
 }
 
 .token.regex,
 .token.important {
     color: #fd971f;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 div.code-toolbar {
     position: relative;
 }
 
 div.code-toolbar > .toolbar {
     position: absolute;
     top: .3em;
     right: .2em;
     transition: opacity 0.3s ease-in-out;
     opacity: 0;
 }
 
 div.code-toolbar:hover > .toolbar {
     opacity: 1;
 }
 
 div.code-toolbar > .toolbar .toolbar-item {
     display: inline-block;
 }
 
 div.code-toolbar > .toolbar a {
     cursor: pointer;
 }
 
 div.code-toolbar > .toolbar button {
     background: none;
     border: 0;
     color: inherit;
     font: inherit;
     line-height: normal;
     overflow: visible;
     padding: 0;
     -webkit-user-select: none; /* for button */
     -moz-user-select: none;
     -ms-user-select: none;
 }
 
 div.code-toolbar > .toolbar a,
 div.code-toolbar > .toolbar button,
 div.code-toolbar > .toolbar span {
     color: #bbb;
     font-size: .8em;
     padding: 0 .5em;
     background: #f5f2f0;
     background: rgba(224, 224, 224, 0.2);
     box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
     border-radius: .5em;
 }
 
 div.code-toolbar > .toolbar a:hover,
 div.code-toolbar > .toolbar a:focus,
 div.code-toolbar > .toolbar button:hover,
 div.code-toolbar > .toolbar button:focus,
 div.code-toolbar > .toolbar span:hover,
 div.code-toolbar > .toolbar span:focus {
     color: inherit;
     text-decoration: none;
 } 

pre::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background-color: transparent;
    height: 10px;
}

pre::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $bg-color-light;
}