$font_stack:    Helvetica, sans-serif;
$bg_bg: #424254;
$selected_color: #D95555;
$bg_panel: #A7D5B1;
$shadow: #759888;
$black: #000000;

.background {
	background-color: $bg_bg;
}
.navbar {
	margin-bottom: 0;
	border-bottom-color: $selected_color;
	background-color: $bg_panel;
	border-bottom-width: 10px;
}
.panel-footer {
	border-top-width: 1px;
	border-top-color: $selected_color;
	background-color: $bg_panel;
}
.navbar-toggle {
	border-color: $shadow;
}
.icon-bar {
	background-color: $black;
}
.active {
	background-color: $selected_color;
}
.row {
	float: left;
}
.col-tumblr {
	max-width: 540px;
}
.col-twitter {
	padding-top: 15px;
}
.tumblr_post {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	background-color: $bg_panel;
	padding-top: 0;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: 0 10px $shadow;
	img {
		text-align: center;
		max-width: 100%;
		width: 100%;
	}
	p {
		padding: 10px;
	}
}
.tumblr_title {
	font-size: 18px;
	text-emphasis: disc;
	padding: 0;
}
.tumblr_body {
	margin: 20px;
}
.tumblr_caption {
	margin: 20px;
}
.padding-0 {
	padding: 0;
}
.panel {
	margin-top: 15px;
	margin-bottom: 15px;
	//Instead of the line below you could use @include border-top-radius($radius)
	border-top-radius: 0;
	border-width: 0;
	background-color: $bg_panel;
}
.gametext {
	margin-top: 10px;
}
strong {
	color: $selected_color;
}
#topnav a {
	color: $black;
}
a.twitter-timeline {
	display: inline-block;
	padding: 6px 12px 6px 30px;
	margin: 10px 0;
}